---
title: "Events"
layout: page
---

<a href="/host" class="pull-right btn">
    <i class="fa fa-thumbs-up"></i>
    Host an Event
</a>

<h2>Upcoming Events</h2>

<ul class="list-group">
    {% assign postCount = 0 %}
    {% for post in site.categories.events %}
        {% if post.url and post.event_date %}
            {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
            {% capture posttime %}{{post.event_date | date: '%s'}}{% endcapture %}
            {% if posttime >= nowunix %}
                {% assign postCount = postCount | plus:1 %}
                <li class="list-group-item">
                    <a href="{{ post.url }}">
                        <span class="badge badge-default pull-right">
                            {{ post.event_date | date: "%B %-d, %Y" }}
                        </span>
                        <p>{{ post.title }}</p>
                        <small>{{ post.event_location }}</small>
                    </a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>

{% if postCount == 0 %}
    <div class="alert alert-info">
        <p>No upcoming events at the moment.</p>
        <p>
            <a href="https://twitter.com/Socialgorithm_">
                <i class="fa fa-twitter"></i>
                Follow us
            </a> so you don't miss any!
        </p>
    </div>
{% endif %}

<hr>

<h2>Past Events</h2>

<ul class="list-group">
    {% assign postCount = 0 %}
    {% for post in site.categories.events %}
        {% if post.url and post.event_date %}
            {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
            {% capture posttime %}{{post.event_date | date: '%s'}}{% endcapture %}
            {% if posttime < nowunix %}
                {% assign postCount = postCount | plus:1 %}
                <li class="list-group-item">
                    <a href="{{ post.url }}">
                        <span class="badge badge-default pull-right">
                            {{ post.event_date | date: "%B %-d, %Y" }}
                        </span>
                        <p>{{ post.title }}</p>
                        <small>{{ post.event_location }}</small>
                    </a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>

{% if postCount == 0 %}
    <div class="alert alert-info">
        No past events yet!
    </div>
{% endif %}