---
title: "Team"
layout: page
---

<div class="row">
    <div class="col-md-3 col-xs-6">
        {% include
            avatar.html
            name="Bharat Reddy"
            role="Cofounder"
            bio="Software Dev, Cybersecurity Architect, Amateur Bassist."
            link="http://bharatreddy.com/"
            url="https://github.com/reddyalready.png"
        %}
    </div>
    <div class="col-md-3 col-xs-6">
        {% include
            avatar.html
            name="Alejandro U. Alvarez"
            role="Cofounder"
            bio="Security Architect @ Morgan Stanley during the day."
            link="https://aurbano.eu"
            url="https://github.com/aurbano.png"
        %}
    </div>
    <div class="col-md-3 col-xs-6">
        {% include
            avatar.html
            name="Iva Nikolaeva"
            role="Coordinator"
            bio="Software Developer @ Morgan Stanley"
            link="https://github.com/nikoliva"
            url="https://github.com/nikoliva.png"
        %}
    </div>
    <div class="col-md-3 col-xs-6">
        {% include
            avatar.html
            name="Alex Millward"
            role="Contributor"
            bio="Software Engineer @ Goldman Sachs."
            link="http://alexmillward.com"
            url="https://github.com/AlexMillward.png"
        %}
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-xs-6">
        <h1><a href="#contact">Join us!</a></h1>
    </div>
</div>

<hr class="margin-bottom">

<p>We're always looking for people to join our team, it doesn't matter if you're a student, working, retired...</p>
<p>Even though most of us are software developers, other skills can always be useful, so just drop us a line and we'll talk :)</p>
