
<section id="about" class="about bg-primary" style="text-align: justify;">
    <div class="container">
        <h3>About us</h3>
        <p>Socialgorithm aims to provide an environment for people to learn about and explore their knowledge of 
            computer science and artificial intelligence through alternative mediums to the classroom, such as workshops, 
            hackathons and competitions.</p>
        <p>We maintain an <a href="https://tournaments.socialgorithm.org/" style="color: white; text-decoration: underline;">open source platform</a> that can be used by anyone to 
            host a workshop or competition. We also provide guidance on running a successful event.</p>
        <p>We are a non-profit community interest company, any surplus contributions not used towards platform hosting costs 
            or organising events are either reinvested into serving Socialgorithm's mission of furthering computer science education, 
            or used to reward the developers and organisers that improve the platform or run events.
        </p>
    </div>
    <div class="container">
        <h4>Get in touch</h4>
        <p>Join our <a href="https://socialgorithm-slack.herokuapp.com" style="color: white; text-decoration: underline;">community</a>, 
            contribute or discuss code on <a href="https://github.com/socialgorithm" style="color: white; text-decoration: underline;">Github</a>, 
            or email us at <a href="mailto:hello@socialgorithm.org" style="color: white; text-decoration: underline;">hello@socialgorithm.org</a>
        </p>
    </div>
</section>
<footer>
    <div class="container">
        <p>&copy; 2017 - 2022 <a href="https://socialgorithm.org">Socialgorithm</a> non-profit CIC 
            <a href="https://find-and-update.company-information.service.gov.uk/company/12300275">#12300275</a>. 
            All Rights Reserved. Help us spread the <i class="fa fa-heart" style="color: red;"></i> for tech!</p>
    </div>
</footer>
