<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Socialgorithm &mdash; We organise hackathons, workshops, coding challenges...</h1>
                        <h2>Get in touch if you want to host one!</h2>
                        <!-- <a href="#download" class="btn btn-outline btn-xl page-scroll">Subscribe!</a> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="font-size: 9em; line-height: 5em; text-align: center;">
                [<b>s</b>g]
            </div>
        </div>
    </div>
</header>
