<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>We are a community that organises hackathons, workshops and coding challenges.</h1>
                        <a href="/workshops" class="btn btn-outline btn-xl">See our Workshops</a>
                        <!--<a href="https://tournaments.socialgorithm.org/" class="btn btn-outline btn-xl">Try our Platform</a>-->
                    </div>
                </div>
            </div>
          </div>
    </div>
</header>
