<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>We organise hackathons, workshops and coding challenges.</h1>
                        <h2>Connecting companies with students.</h2>
                        <p style="margin-top: 2.5em">
                            <a href="/events" class="btn btn-outline btn-xl">Join an event!</a>
                            <a href="/host" class="btn btn-outline btn-xl">Help us host!</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 text-3d hidden-sm hidden-xs" style="font-size: 9em; line-height: 5em; text-align: center;">
                <span style="font-size: 0.7em; font-weight: bold">#</span>sg
            </div>
        </div>
    </div>
</header>
