

<section id="features" class="features" style='background: #efefef'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12 text-center'>
                <div class="section-heading">
                    <h2>Partners</h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class='row text-center'>
            <div class='col-md-4'>
                <div class='img-partner'>
                    <img src='/img/partners/sheplusplus.png' alt='She++' title='She++' class='img'>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='img-partner'>
                    <img src='/img/partners/ms.png' alt='Morgan Stanley' title='Morgan Stanley' class='img img-thumbnail'>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='img-partner'>
                    <img src='/img/partners/ucl-techsoc.png' alt='UCL Tech Society' title='UCL Tech Society' class='img'>
                </div>
            </div>
        </div>
    </div>
</section>