

<section id="features" class="features" style='background: #efefef'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12 text-center'>
                <div class="section-heading">
                    <h2>Partners</h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class='row text-center'>
            <div class='col-md-4'>
                <div class='img-partner'>
                    <a href='http://sheplusplus.org' title='She++' ><img src='/img/partners/sheplusplus.png' alt='She++' class='img'></a>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='img-partner'>
                    <a href='https://morganstanley.com' title='Morgan Stanley'><img src='/img/partners/ms.png' alt='Morgan Stanley' class='img img-thumbnail'></a>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='img-partner'>
                    <a href='https://techsoc.io' title='UCL Tech Society'><img src='/img/partners/ucl-techsoc.png' alt='UCL Tech Society' class='img'></a>
                </div>
            </div>
        </div>
    </div>
</section>