

<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Connecting Mentors, Students and Companies</h2>
                    <p class="text-muted">And trying to have fun in the process!</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature-item">
                                <i class="icon-puzzle text-primary"></i>
                                <h3>Technology</h3>
                                <p class="text-muted">
                                    We provide all the technology + experienced mentors from the industry to our events. Everything is <em>of course</em> Open Source.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-item">
                                <i class="icon-home text-primary"></i>
                                <h3>Companies</h3>
                                <p class="text-muted">
                                    Industry-leading companies partner with us and provide space &amp; food!
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-item">
                                <i class="icon-people text-primary"></i>
                                <h3>Students</h3>
                                <p class="text-muted">
                                    Students come to the events from local universities thanks to the support of our partner student-led tech societies.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>