

<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Subscribe to #socialgorithm!</h2>
                    <div class='text-muted'>
                        <p>We'll keep you updated on new events that we're organising, or ways in which you can get involved. But we promise there won't be too many emails (maybe 1 every few months at most)</p>
                        <p>If you prefer you can also follow us on Twitter or join our Slack community :)</p>
                    </div>
                    <iframe src='https://mailchi.mp/769926ac233f/sign-up-to-socialgorithm' frameborder='0'></iframe>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>