---
layout: page
title: "Posts by category"
description: "Socialgorithm's Blog! See all of our events, announcements..."
---

<div class="container-fluid index">
  <div class="row index all-posts">

    <h1 class="header author-header">{{ site.author_name }}</h1>
    <h2 class="header" itemprop="headline">
      <small class="pull-right">
        Group by
        <div class="dropdown btn-group">
          <button class="btn btn-categories dropdown-toggle btn-xs" type="button" data-toggle="dropdown">Categories
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/blog/">Years</a></li>
          </ul>
        </div>
      </small>
    </h2>
      
      {% for category in site.categories %}
      <div class="col-md-12 content-panel articles">
        <h2 id="{{ category | first }}-ref">{{ category | first | capitalize }}</h2>
          {% for posts in category %}
            {% for post in posts %}
              {% include
                post_list_item.html
                post=post
              %}
            {% endfor %}
          {% endfor %}
      </div>
      {% endfor %}
  </div>
</div>
